<div class="card box-shadow my-3 black-bg" style="border-radius: 10px; overflow: hidden;">
  <div class="row gx-0 gx-md-4">
    <div class="col-3">
      <div class="row gx-0 gx-md-4 gx-0 h-100">
        <div class="col-2 flex-grow-2 test img-card" style="background-image: url({{image}});">
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="row h-50">
        <div class="col m-auto text-center">
          <b>#{{number}} {{artist_name}}</b>
        </div>
      </div>
      <div class="row gx-0 gx-md-4 h-50">
        <div class="col-6 text-center">
          <b>{{user_name}}</b><br/>{{user_count}} tracks
        </div>
        <div class="col-6 text-center">
          <b>{{friend_name}}</b><br/>{{friend_count}} tracks
        </div>
      </div>
    </div>
    <div class="col-2 m-auto text-center">
      <b>Score<br/>{{score}}</b>
    </div>
  </div>
</div>