<div class="card box-shadow my-3 black-bg" style="border-radius: 10px; overflow: hidden;">
  <div class="row gx-0 gx-md-4">
    <div class="col-5 m-auto text-center px-3 text-bold">
      #{{number}} {{genre_name}}
    </div>
    <div class="col-4">
      <div class="row gx-0 gx-md-4 h-50">
        <div class="col m-auto my-2 text-center">
          <b>{{user_name}}</b><br/>{{user_count}} tracks
        </div>
      </div>
      <div class="row gx-0 gx-md-4 h-50">
        <div class="col m-auto my-2 text-center">
          <b>{{friend_name}}</b><br/>{{friend_count}} tracks
        </div>
      </div>
    </div>
    <div class="col-3 m-auto text-center heading-5">
      Score<br/>{{score}}
    </div>
  </div>
</div>