<tr>
  <th class="align-middle">{{number}}</th>
  <td class="d-flex">
      <a href="{{url}}" target="_blank" class="small-image m-auto" style="background-image: url({{image}});"></a>
      <span class="text-table m-auto ms-3 text-bold">{{name}}</span>
  </td>
  <td class="align-middle">{{count}} tracks</td>
</tr>